.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
build/
dist/
src/assets/1/
src/assets/text/TaipeiSansTCBeta-Bold.ttf
src/assets/text/TaipeiSansTCBeta-Light.ttf
src/assets/text/TaipeiSansTCBeta-Regular.ttf
